.container {
    background-image: url('../images/Untitled_Artwork.jpg');
    background-position: 100px;
    height: 100%;
    width: 100%;
    padding: 100px;
}
.headerContainer {
    align-content: center;
    font-size: 75px;
    margin-bottom: 100px;
    margin-left: 100px;
}

.aboutContainer {
    width: 100%;
    height: 100vh;
    align-items: center;
    padding-left: 100px;

}
.columns {
    display: inline-block;

}
.pic1 {
    width: 150px;
    height: 150px;
    align-self: left;
    object-fit: cover;
    overflow: hidden;
}

.texts {
    float: right;
    display: block;
    padding: 20px;
}

.person {
    margin: 25px;
}