.footerContainer {
    width: 100%;
    height: 5vh;
    background-color: #242424;
    display: flex;
    justify-content: center;
    color: white;
    align-self: center;
}

p {
    margin-top: 10px;
}